h1 {
    margin: 8px auto;
    text-decoration: underline;
    background-color: aquamarine;
    max-width: 500px;
    text-align: center;
}
ul {
    font-size: 20px;
    margin: 6px;
    padding: 0;

}
li {
    margin: 10px;
}

