h1 {
    margin: 8px auto;
    text-decoration: underline;
    background-color: aquamarine;
    max-width: 500px;
    text-align: center;
}
ul {
    font-size: 20px;
    margin: 6px;
    padding: 0;

}
li {
    margin: 10px;
}
img {
    display: block;
    height: 400px;
    width: auto;
    margin: 20px auto;
}
.about,h2,ol,ul{
    text-align: center;
}
p,ol,ul {
    font-size: 24px;
}
ol,ul{
    margin:12px auto;
    padding:0;
    width: 90%;
}


